.figure1, .figure2, .figure3 {float:left;}
.line {float:left; width:1px; height:80px; margin:5px 0; border-right:1px solid #b1b1b1;}
.figures {height:62px; vertical-align:top;}
.figuresTitle {height:26px; font-size:13px; color:#666; font-weight:bold; text-align:center; text-decoration:none; line-height:20px;}
.figurePositionTitle {height:26px; font-size:13px; color:#666; font-weight:bold; text-align:center; text-decoration:none; line-height:20px;}
.figureColorTitle {position:absolute; height:22px; margin-top:66px; margin-left:28px; font-size:13px; color:#666; font-weight:bold; text-align:center; text-decoration:none; line-height:20px; z-index:1;}
.figurePosition {height:62px;}
.figureFontIcon {cursor:pointer; float:left; margin:8px 10px 6px 25px; padding:4px; width:44px; height:44px; background:url(../images/front.png) no-repeat 4px 4px;}
.figureBackIcon {cursor:pointer; float:left; margin:8px 25px 6px 10px; padding:4px; width:44px; height:44px; background:url(../images/back.png) no-repeat 4px 4px;}
.figureColorIcon {position:absolute; cursor:pointer; float:left; margin:8px 25px 6px 25px; padding:4px; width:44px; height:44px; background:url(../images/backColor.png) no-repeat 4px 4px;  z-index:100;}

/*.figure1 > div > div:hover {background-color:#ffdbd2;}*/
.figure2 > div > div:hover {background-color:#ffdbd2;}
.figure3 > div > div:hover {background-color:#ffdbd2;}

.figures > div { margin:6px 20px;}
#circleBox {width:50px; height:50px; float:left;}
.circle {
 /*  cursor:pointer;*/
   width: 46px;
   height: 46px;
   background:#dcdcdc; 
   border:2px solid #797979;
   -moz-border-radius: 24px; 
   -webkit-border-radius: 24px; 
   border-radius: 24px;
}

#squareBox {width:50px; height:50px; float:left;}
.square {
 /*  cursor:pointer;*/
   width: 46px; 
   height: 46px; 
   background:#dcdcdc;
   border:2px solid #797979;  
}

#rectangleBox {width:55px; height:46px; float:left; padding-left:8px;}
.rectangle {
     width:55px; 
     height:46px; 
     border:2px solid #797979;   
     background:#dcdcdc;
}

#a-quater-circleBox {width:50px; height:50px; float:left; left:-25px;}
.a-quater-circle {
     width:46px; 
     height:46px; 
     border:2px solid #797979; 
     background: #dcdcdc;
     border-radius: 0 46px 0 0;
     -moz-border-radius: 0 46px 0 0;
     -webkit-border-radius: 0 46px 0 0;
}

#semicircleBox {width:69px; height:35px; float:left;}
.semicircle {
     height:40px;
     width:70px;
     border:2px solid #797979; 
     background-color:#dcdcdc;
     border-radius:60px 60px 0 0;
     -moz-border-radius: 60px 60px 0 0;
     -webkit-border-radius: 60px 60px 0 0;
}

#egg-circleBox {width:46px; height:51px; float:left;}
.egg-circle {
   display:block;
   width: 36px;
   height: 46px;
   border:2px solid #797979; 
   background-color:#dcdcdc;
   -webkit-border-radius: 20px 20px 20px 20px / 35px 35px 20px 20px;
   border-radius:         50%  50%  50%  50%  / 60%   60%   40%  40%;
}

/* .buttonBar > .figure3 > .figureColor > .figureColorIcon:hover .subFigureColor {display:block;}
.buttonBar > .figure3 > .figureColor > .selectedColor:hover .subFigureColor {display:block;}
 */
.selectedColor:hover {background-color:none;}

.subFigureColor {position:absolute; display:none; width:85px; background-color:#fff; margin:48px 0 0 -4px; padding:0; border:1px solid #b9b9b9; box-shadow: 0 3px 5px 1px rgba(0,0,0,.30) z-index:100;}
.subFigureColor > a {display:block; margin:6px; padding:0; width:74px; height:74px; color:#2e2e2e; text-align:middle; text-decoration:none; border:1px solid #b9b9b9;}

.subFigureColor > a:hover {border:1px solid #ff0000;}


.standardColorPalette {display:block; margin:3px 6px 6px 6px; padding:0; height:74px; width:85x;}
.standardColorPalette > li {float:left; height:12px; list-style-type:none;  margin:1px; padding:0;}
.standardColorPalette > li > a {display:block; float:left; padding:0; margin:3px; width:16px; height:16px; border:1px solid #898989;}

.subFigureColor > ul > li > a:hover {width:14px; height:14px; border:2px solid #bd4226;}

.subFigureColor > ul > li > a.s2 {background-color:rgb(255, 0, 0); margin-left:0px;}
.subFigureColor > ul > li > a.s3 {background-color:rgb(255, 192, 0);}
.subFigureColor > ul > li > a.s4 {background-color:rgb(255, 255, 0); margin-right:0;}
.subFigureColor > ul > li > a.s5 {background-color:rgb(146, 208, 80); margin:14px 0 0 0;}
.subFigureColor > ul > li > a.s6 {background-color:rgb(0, 176, 80); margin:14px 0 0 6px;}
.subFigureColor > ul > li > a.s7 {background-color:rgb(0, 176, 240); margin:14px 0 0 6px;}
.subFigureColor > ul > li > a.s8 {background-color:rgb(0, 112, 192); margin:26px 0 0 0;}
.subFigureColor > ul > li > a.s9 {background-color:rgb(0, 32, 96); margin:26px 0 0 6px;}
.subFigureColor > ul > li > a.s10 {background-color:rgb(112, 48, 160); margin:26px 0 0 6px;}
	
