
.figure1, .figure2, .figure3 {float:left;}
.line {float:left; width:1px; height:80px; margin:5px 0; border-right:1px solid #b1b1b1;}
.figures {height:62px;}
.figuresTitle {height:26px; font-size:13px; color:#666; font-weight:bold; text-decoration:none; line-height:20px;}
.figurePositionTitle {height:26px; font-size:13px; color:#666; font-weight:bold; text-align:center; text-decoration:none; line-height:20px;}
.figureColorTitle {height:26px; font-size:13px; color:#666; font-weight:bold; text-align:center; text-decoration:none; line-height:20px;}
.figurePosition {height:62px;}
.figureFontIcon {cursor:pointer; float:left; margin:8px 10px 6px 25px; padding:4px; width:44px; height:44px; background:url(../images/front.png) no-repeat 4px 4px;}
.figureBackIcon {cursor:pointer; float:left; margin:8px 25px 6px 10px; padding:4px; width:44px; height:44px; background:url(../images/back.png) no-repeat 4px 4px;}
.figureColorIcon {cursor:pointer; float:left; margin:8px 25px 6px 25px; padding:4px; width:44px; height:44px; background:url(../images/backColor.png) no-repeat 4px 4px;}

/*.figure1 > div > div:hover {background-color:#ffdbd2;}*/
.figure2 > div > div:hover {background-color:#ffdbd2;}
.figure3 > div > div:hover {background-color:#ffdbd2;}

.figures > div { margin:6px 20px;}
#circleBox {width:50px; height:50px; float:left;}
.circle {
 /*  cursor:pointer;*/
   width: 46px;
   height: 46px;
   background:#fff; 
   border:2px solid #777;
   -moz-border-radius: 23px; 
   -webkit-border-radius: 23px; 
   border-radius: 23px;
}

#squareBox {width:50px; height:50px; float:left;}
.square {
 /*  cursor:pointer;*/
   width: 46px; 
   height: 46px; 
   background:#fff;
   border:2px solid #777;  
}

#triangleBox {width:60px; height:50px; float:left; padding-left:8px;}
.triangle {
     width:46px; 
     height:46px; 
     border:2px solid #777; 
     background:#fff;
     transform: skew(-20deg); 
     -o-transform: skew(-20deg); 
     -moz-transform: skew(-20deg); 
     -webkit-transform: skew(-20deg);
}

#twelve-point-starBox {width:57px; height:56px; float:left; left:-25px;}
.twelve-point-star {
     width:36px; 
     height:36px; 
     border:2px solid #777; 
     background:#fff;
   	 margin:16px 0 0 28px;
     -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
     -ms-transform: rotate(-45deg);
     -o-transform: rotate(-45deg);
     transform: rotate(-45deg);
     -webkit-transform-origin: 0 100%;
     -moz-transform-origin: 0 100%;
     -ms-transform-origin: 0 100%;
     -o-transform-origin: 0 100%;
     transform-origin: 0 100%;
}

#six-point-starBox {width:69px; height:35px; float:left;}
.six-point-star {
     height:31px;
     width:64px;
     border:2px solid #777; 
     border-radius: 90px 90px 0 0;
     -moz-border-radius: 90px 90px 0 0;
     -webkit-border-radius: 90px 90px 0 0;
     background:#fff;
}

#pacmanBox {width:50px; height:55px; float:left;}
.pacman {
  /*cursor:pointer;*/
  width: 0px;
  height: 0px;
  border-right: 28px solid transparent;
  border-top: 28px solid #ffd630;
  border-left: 28px solid #ffd630;
  border-bottom: 28px solid #ffd630;
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
  border-bottom-left-radius: 28px;
  border-bottom-right-radius: 28px;
}

#heartBox {width:64px; height:55px; float:left;}
.heart {
  /*  cursor:pointer;*/
	margin-left:13px; 
	position: relative;
}
.heart:before {
	position: absolute;
    content: "";
	left:19px;
	top: 1px;
	width:32px;
	height: 54px;
	background: red;
	-moz-border-radius: 50px 50px 0 0;
	border-radius: 50px 50px 0 0;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transform-origin: 0 100%;
	-moz-transform-origin: 0 100%;
	-ms-transform-origin: 0 100%;
	-o-transform-origin: 0 100%;
	transform-origin: 0 100%;
}
.heart:after { 
	position: absolute;
    content: "";
	left:-13px;
	top: 1px;
	width: 32px;
	height: 54px;
	background: red; 
	-moz-border-radius: 50px 50px 0 0;
	border-radius: 50px 50px 0 0;
	-webkit-transform: rotate(45deg); 
	-moz-transform: rotate(45deg); 
	-ms-transform: rotate(45deg); 
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transform-origin: 100% 100%;
	-moz-transform-origin: 100% 100%;
	-ms-transform-origin: 100% 100%;
	-o-transform-origin: 100% 100%;
	transform-origin :100% 100%;
}

.buttonBar > .figure3 > .figureColor > .figureColorIcon:hover .subTextColor {display:block;}

.subTextColor {display:none; width:188px; background-color:#fff; margin:48px 0 0 -4px; padding:0; border:1px solid #b9b9b9; box-shadow: 0 3px 5px 1px rgba(0,0,0,.30) z-index:100;}
.subTextColor > a {display:block; margin:6px; padding:0; width:178px; height:25px; color:#2e2e2e; text-align:middle; text-decoration:none; border:1px solid #b9b9b9;}

.subTextColor > a:hover {border:1px solid #ff0000;}
.standardText {display:block; margin:0; padding:0; width:188px; height:20px; background-color:#ededed;}
.standardText span {margin:0 0 0 6px; line-height:20px; font-size:13px; font-weight:bold;}

.standardColorPalette {display:block; margin:3px 6px 6px 6px; padding:0; height:15px; width:193px;}
.standardColorPalette > li {float:left; height:12px; list-style-type:none; padding:0;}
.standardColorPalette > li > a {display:block; float:left; padding:0; margin:2px; width:12px; height:12px; border:1px solid #b9b9b9;}

.subTextColor > ul > li > a:hover {border:1px solid #ff0000;}

.subTextColor > ul > li > a.s1 {background-color:rgb(192, 0, 0); margin-left:0px;}
.subTextColor > ul > li > a.s2 {background-color:rgb(255, 0, 0);}
.subTextColor > ul > li > a.s3 {background-color:rgb(255, 192, 0);}
.subTextColor > ul > li > a.s4 {background-color:rgb(255, 255, 0);}
.subTextColor > ul > li > a.s5 {background-color:rgb(146, 208, 80);}
.subTextColor > ul > li > a.s6 {background-color:rgb(0, 176, 80);}
.subTextColor > ul > li > a.s7 {background-color:rgb(0, 176, 240);}
.subTextColor > ul > li > a.s8 {background-color:rgb(0, 112, 192);}
.subTextColor > ul > li > a.s9 {background-color:rgb(0, 32, 96);}
.subTextColor > ul > li > a.s10 {background-color:rgb(112, 48, 160); margin-right:0px;}
	
