.buttonBar div {}
.circle { float:left; margin:8px 10px;
   width: 60px;
   height: 60px;
   background: red; 
   -moz-border-radius: 30px; 
   -webkit-border-radius: 30px; 
   border-radius: 30px;
}

.square { float:left; margin:10px 20px;
   width: 56px; 
   height: 56px; 
   background: blue; 
}

.triangle { float:left; margin:8px 10px;
   width: 0; 
   height: 0; 
   border-bottom: 60px solid green; 
   border-left: 30px solid transparent; 
   border-right: 30px solid transparent; 
}

.twelve-point-star { float:left;  margin:15px 275px;
   height: 45px;
   width: 45px;
   background: orange;
   position: absolute;
}
.twelve-point-star:before {
   height: 45px;
   width: 45px;
   background: orange;
   content:"";
   position: absolute;
   /* Rotate */
   -moz-transform: rotate(30deg);
   -webkit-transform: rotate(30deg);
   -ms-transform: rotate(30deg);
   -o-transform: rotate(30deg);
   transform: rotate(30deg);
}
.twelve-point-star:after {
   height: 45px;
   width: 45px;
   background: orange;
   content:"";
   position: absolute;
   /* Rotate */
   -moz-transform: rotate(-30deg);
   -webkit-transform: rotate(-30deg);
   -ms-transform: rotate(-30deg);
   -o-transform: rotate(-30deg);
   transform: rotate(-30deg);
}

.six-point-star { float:left;  margin:5px 355px;
   position: absolute;
   width: 0; 
   height: 0; 
   border-left: 30px solid transparent; 
   border-right: 30px solid transparent; 
   border-bottom: 50px solid red;
}
.six-point-star:after {
   content:"";
   position: absolute;
   width: 0; 
   height: 0; 
   border-left: 30px solid transparent; 
   border-right:30px solid transparent; 
   border-top: 50px solid red;
   margin: 18px 0 0 -30px;
}

.pacman { float:left;  margin:8px 0 0 185px;
  width: 0px;
  height: 0px;
  border-right: 32px solid transparent;
  border-top: 32px solid #ffd630;
  border-left: 32px solid #ffd630;
  border-bottom: 32px solid #ffd630;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
}

.heart {  float:left; margin-left:30px;
	position: relative;
}
.heart:before, #heart:after {
	position: absolute;
  content: "";
	left: 30px; top: 0;
	width: 30px;
	height: 70px;
	background: red;
	-moz-border-radius: 50px 50px 0 0;
	border-radius: 50px 50px 0 0;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transform-origin: 0 100%;
	-moz-transform-origin: 0 100%;
	-ms-transform-origin: 0 100%;
	-o-transform-origin: 0 100%;
	transform-origin: 0 100%;
}
.heart:after { 
	left: 0; 
	-webkit-transform: rotate(45deg); 
	-moz-transform: rotate(45deg); 
	-ms-transform: rotate(45deg); 
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transform-origin: 100% 100%;
	-moz-transform-origin: 100% 100%;
	-ms-transform-origin: 100% 100%;
	-o-transform-origin: 100% 100%;
	transform-origin :100% 100%;
}