@charset "utf-8";
ul, body {margin:0; padding:0;}
body {background-color:transparent; overflow: hidden;}

/*layout*/
#wrap {max-height:643px; min-width:940px; margin:0; padding:0;}

#container {background-color:#fff; min-width:1024px; overflow:auto; clear:both;}
.slide {height:30px; width:170px; border-bottom:1px solid #b1b1b1; color:#666;}
.slideInsert {cursor:pointer; float:left; width:84px; height:30px; text-decoration:none; border-right:1px solid #b1b1b1; font-size:24px; font-weight:bold; text-align:center; line-height:34px;}
.slideDelete {cursor:pointer; float:left; width:85px; height:30px; text-decoration:none; font-size:28px; font-weight:bold; text-align:center; line-height:30px;}
.thumbWrap {position:absolute; z-index:1000; width:170px; top:144px; bottom:0; background-color:#eee; border-bottom:1px solid #b1b1b1; border-right:1px solid #b1b1b1; vertical-align:top;}
.thumbnails {position:absolute; display:block; overflow-y:scroll; top:31px; width:170px; bottom:0;}
.thumbnail {width:120px; height:85px; margin:20px auto; padding:4px 4px 22px 8px; font-size:12px; color:#868686;}
.thumbnail1 {display:block; width:114px; height:85px; background-color:#fff; border:1px solid #b1b1b1;}
.thumbName {padding:2px}

.docWrap {position:absolute; display:block; top:144px; width:100%; height:100%; z-index:1;}
.doc {position:absolute; background:#fff; overflow:hidden; height:67%; width:56%; top:5%; left:22%; border:1px solid #b1b1b1; font-size:15px; color:#5c5c5c; z-index:2;}